<!DOCTYPE html>
{% extends 'webhome.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form method="post" action="{% url 'placeorder' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        {% if request.session.Username %}
                                        <p>Name</p>
                                        <input type="text" required name="name" value="{{request.session.Username}}" style="color:black;font-size:14pt;width:500px;border:1px solid black;">
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="checkout__input">
                                <p>Address</p>
                                <textarea name="address" required style="color:black;font-size:14pt;width:500px;border:1px solid black;" placeholder="Street Address" class="checkout__input__add"> </textarea>
                            </div>
                            <div class="checkout__input">
                                <p>Pin Code</p>
                                <input name="pin" required type="text" style="color:black;font-size:14pt;width:500px;border:1px solid black;">
                            </div>
                {% for i in data %}

                                    <div class="checkout__input">
                                        <p>Phone</p>
                                        <input name="phone" required value="{{i.mobile}}" type="tel" pattern="[0-9]{10}" style="color:black;font-size:14pt;width:500px;border:1px solid black;">
                                    </div>

                                    <div class="checkout__input">
                                        <p>Email</p>
                                        <input required name="email" value="{{i.email}}" type="text" style="color:black;font-size:14pt;width:500px;
                                        border:1px solid black;margin-bottom:50px;">
                                    </div>

                            {% endfor %}

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
        <h4 style="background-color:blue;color:white;width:300px;padding-left:55px;
        height:60px;padding-top:15px;">Confirm Order</h4><br><br>

                                <table width="100%">
                                    <tr style="font-size:16pt;font-weight:bold;height:75px;">
                                        <td><h4>Products</h4></td>
                                        <td><h4>Price</h4></td>
                                    </tr>

                                    {% for i in cart %}
                                    <tr style="font-size:14pt;font-weight:bold;color:brown;height:35px;">
                                        <td>{{i.Productname}}</td>
                                        <td>{{i.Totalprice}}</td></tr>
                                    {% endfor %}

                                </table>
                                <div class="checkout__order__total" style="margin-top:40px;">
                                    <h4 style="color:red;margin-left:160px;">Total :<span style="color:red;">   Rs. {{totalprice}}</span></h4></div>
                                <div class="checkout__input__checkbox">
                                </div>
                                <button type="submit" style="width:300px;height:50px;background-color:green;margin-left:30px;color:white;margin-top:30px;"
                                        class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else %}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
      {% endif %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function(){
            $("button").mouseenter(function(){
                $(this).css("background-color","blue")

            })
            $("button").mouseleave(function(){
                $(this).css("background-color","green")
            })
            $(".div1").mouseenter(function(){
                $(this).css("background-color","orange")
            })
            $(".div1").mouseleave(function(){
                $(this).css("background-color","#fff")
            })
        })
    </script>

</body>
</html>
{% endblock %}