<!DOCTYPE html>
{% extends 'saleshome.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <h1>VIEW DAY'S INCOME</h1>

</div>
<form method="post" action="{% url 'viewsalesday' %}">
{% csrf_token %}
    <input type="date" name="date"><br>
<button type="submit">VIEW</button>
</form>

</body>
<style>
h1{
    margin-left:300px;
    margin-top:80px;
    font-size:28pt;
    font-weight:bold;
    color:#000066;
}
input{
    width:350px;
    height:50px;
    padding:10px;
    color:black;
    border:2px solid black;
    border-radius:10px;
    font-size:14pt;
    margin-left:300px;
    margin-top:60px;
}
button{
    width:250px;
    height:50px;
    border-radius:10px;
    background-color:#000066;
    color:white;
    margin-left:360px;
    margin-top:40px;
}

</style>

</html>
{% endblock %}