<!DOCTYPE html>
{% extends 'saleshome.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product display</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'assets/styletable.css' %}">

</head>
<body>
<h2 style="text-align:center;margin-top:50px;color:#000066;">VIEW CUSTOMERS</h2><br><br><br>
<div class="table-users">

   <table cellspacing="0" width="100%">
<tbody>
    <tr style="border:1px solid grey;">
        <td><h4>Customer Name</h4></td>
        <td><h4>Place</h4></td>
        <td><h4>Mobile</h4></td>

        <td><h4>Options</h4></td>

    </tr>
            {% for i in cus %}

    <tr style="border:1px solid grey;">
        <td>{{i.Customer}}</td>
        <td width="20px">{{i.Place}}</td>
        <td>{{i.Mobile}}</td>
          <td><a href="{% url 'editcustomer' dataid=i.id %}"><img src="{% static 'img/editpurple.png' %}" width="25px" height="25px"></a></td>
          <td><a href="{% url 'dltcustomer' dataid=i.id %}"><img src="{% static 'img/dltpurple.png' %}" width="25px" height="25px"></a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else %}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
      {% endif %}

</body>
<style>
td{
    color:black;
    font-weight:bold;
    font-size:12pt;
    height: 60px;
    text-align:center;
    }
</style>
</html>
{% endblock %}