<!DOCTYPE html>
{% extends 'adminhome.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-image:linear-gradient(white 50%,purple);height:100px;border:hidden;width:100%;">
            <h1 style="color:rgb(28, 4, 92);font-family: 'Times New Roman', Times, serif;
            font-weight: bold;padding-top:10px;text-align:center;">
           Employee Attendance</h1></div><br><br>

<table width="75%" style="margin-left:150px;border:1px solid black;margin-bottom:100px;">
    <tr style="border:1px solid black;">
        <td ><h5 style="color:brown;">Date</h5></td>
        <td ><h5 style="color:brown;">Employee Name</h5></td>
        <td><h5 style="color:brown;">Attendance Status</h5></td>

    </tr>

{% for i in atn %}
    <tr style="border:1px solid black;">

        <td><h6>{{i.Date}}</h6></td>
        <td><h6>{{i.Empname}}</h6></td>
        <td><h6>{{i.Attendance}}</h6></td>
        <td>  <a href="{% url 'atndelete' dataid=i.id %}" style="margin-left:20px;"><img src="{% static 'src/images/dltpurple.png' %}" width="25px" height="25px"></a>
        </td>

    </tr>
{% endfor %}
</table>

<a href="{% url 'viewatn' %}"> <button type="button" style="margin-bottom:100px;
background-color:blue;color:white;width:100px;height:50px;margin-left:430px;">BACK</button></a>

</body>
<style>
td{
    height:60px;
    width:200px;
    text-align:center;

}

</style>
</html>
{% endblock %}